name: Scheduled Kernel Build

on:
  pull_request:
      branches: [main]
  schedule:
    - cron: '0 0 1,15 * *'
  push:
    branches: [ "main", "workflow" ]
    paths:
      - 'kernels/**'
      - 'scripts/**'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kernel: [bazzite, cachy, ubuntu, xanmod, surface]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./kernels/${{ matrix.kernel }}-kernel.dockerfile
          # This tags as ghcr.io/yourname/kerneless:cachy
          tags: ghcr.io/${{ github.repository_owner }}/kerneless:${{ matrix.kernel }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max